/* cs361courseproject/ frontend/ src/ assets/ styles/ style.css */

/* home container for the home page */
.home-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

/* welcome message for the home page */
.welcome-message {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
/* welcome message for the home page */
.welcome-message h1 {
    margin-top: 200px;
}

.bottom-instructions {
    margin-top: auto;
    padding-bottom: 20px;
}

/* welcome message for the home page */
.bottom-instructions p {
    margin: 10px 0;
}