/* cs361courseproject/ frontend/ src/ assets/ styles/ navbar.css */

/* navbar for the entire page */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    width: 99%;
}

/* nav links for the navbar */
.nav-links { 
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

/* navlink for the navbar */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px; 
    text-align: center;
    white-space: nowrap;
    margin-right: 15px;
}

/* active link for the navbar */
.active-link {
    font-weight: bold;
    border-bottom: 2px solid white;
}

/* nav right for the navbar */
.nav-right {
    display: flex;
    align-items: center;
}

/* logout button for the navbar */
.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* logout button hover for the navbar */
.logout-button:hover {
    background-color: #d32f2f;
}